
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    
    background-color: darkgrey;
}
.container{
    display: flex;
    max-height: 700px;
    margin: 20px auto;
    width: 70%;
}
.left-side{
    width: 50%;
}
img{
    width: 470px;
    height: 700px;
}
.right-side{
    width: 55%;
    background-color: #fff;
}
#tiide-header{
    color:  #932c2c;
    text-align: center;
    margin: 40px 0 0 0;
    font-size: 50px;
    font-weight: 700;
}
#account-text{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}
#info-text{
    color: black;
    font-weight: 300;
    font-size: 13px;
    margin-left: 23%;
}
.signup-form{
    margin: auto;
    width: 80%;
}
.form-field{
    padding: 40px;
}
input{
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0;
    border: none;
    border-bottom: 2px solid grey;
}
#signup-account{
    color: #fff;
    background-color: #932c2c;
    padding: 10px 20px 10px 20px;
    margin: 40px 10px 10px 0px;
    border-radius: 10px;
    border-style: none;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    
}
#sign-up-account:link{
    text-decoration: none;
    background-color: #932c2c;
    color: #fff;
}
#sign-up-account:visited{
    color: #fff;
    background-color: #932c2c; 
}
#sign-up-account:hover{
    background-color: #932c2c;
    color: #fff;
    cursor: pointer;
}
#g-img{
    width: 200px;
    height: 200px;
}
#google-btn{
    background: url(/assets/google.png);
    background-size: 40px;
    background-position: left;
    background-clip: padding-box;
    background-repeat: no-repeat;
    padding: 10px 10px 10px 10px;
    margin:  10px 10px 10px 0px;
    border-radius: 10px;
    border-style: none;
    box-shadow:   grey 1px 1px 1px 1px;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
}
#g-link:link{
    color: black;
    background-color: #fff;
    text-decoration: none;
}
#g-link:visited{
    color: black;
    background-color: #fff;

}
#g-link:active{
    color: black;
    text-decoration: none;
}
.login-button{
    display: inline;
    text-align: center;
}
#text{
    font-size: 12px;
    font-weight: 500;
}
span{
    color: #932c2c;
    font-size: 15px;
    font-weight: 800;
}
#log-link:link{
    color: #932c2c;
    background-color: none;
    text-decoration: none;
}
#log-link:visited{
    color: #932c2c;
}
#log-link:active{
    color:#932c2c;
}
